@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
   font-display: swap;
   font-weight: 900;
   font-style: normal;
}

@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
   font-display: swap;
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}

body {
   font-family: "Lato";
   font-weight: 400;
   font-size: 16px;
   line-height: 1.6;
   color: #424551;
}
.article__container {
   max-width: 1230px;
   margin: 0 auto;
}

.blok1 {
   max-width: 630px;
   margin: auto 000;
}

.title__blok1 {
   font-weight: 900;
   font-size: 46px;
   margin-bottom: 40px;
   line-height: 130%;
   color: #1e212c;
}
.text1__blok1 {
   margin-bottom: 48px;
}

.title2__blok1 {
   font-weight: 700;
   font-size: 28px;
   line-height: 150%;
   margin-bottom: 24px;
}

.paragraph__blok1 li {
   padding-left: 32px;
   min-height: 25px;
   background: url(../img/icons/Vector3.png) 0 7px no-repeat;
}
.paragraph__blok1 li:not(:last-child) {
   margin-bottom: 10px;
}

/*  Хотiла поексперементувти з блоками та не рзазмiщаувати один пiд iншим, а використати margin 000 auto, щоб размiстити blok 2 з правоi сторони, але не працюе, размiщюе по центру, можливо я не правильно зрозумiла суть або десь зробила помилку, прошу пояснити*/
.blok2 {
   max-width: 600px;
   margin-left: 600px;
}
.abovetitle__blok2 {
   font-weight: 700;
   line-height: 150%;
   color: #1e212c;
   margin-bottom: 8px;
}

.title__blok2 {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   margin-top: 16px;
}

.text1__blok2 {
   font-size: 20px;
   line-height: 150%;
   color: #787a80;
   margin-bottom: 32px;
}

.levels__blok2 {
   font-weight: 700;
   margin-bottom: 32px;
   text-indent: 24px;
   min-height: 20px;
}

.levels__blok2 h3:not(:last-child) {
   margin-bottom: 10px;
}

.level1__blok2 {
   background: url(../img/icons/Star.png) 0 3px no-repeat;
}

.level2__blok2 {
   background: url(../img/icons/Vector.png) 0 4px no-repeat;
}

.level3__blok2 {
   background: url(../img/icons/boy.png) 0 4px no-repeat;
}

.text2__blok2 {
   margin-bottom: 60px;
}

.work {
   font-weight: 900;
   font-size: 30px;
   text-transform: uppercase;
   display: inline-block;
   margin-left: 40px;
   outline: 8px solid red;
   margin-bottom: 50px;
   padding: 0.1%;
}

.home__conteiner {
   margin-left: 20px;
}
.home__title {
   font-weight: 600;
   font-size: 20px;
   text-transform: uppercase;
   margin-bottom: 30px;
}

.movie {
   margin-bottom: 50px;
}
.movie a {
   text-decoration: underline;
   text-indent: 10px;
   color: blue;
}
.movie a:visited {
   color: blueviolet;
}

ol {
   counter-reset: item;
}

ol li::before {
   counter-increment: item;
   content: counter(item) ")";
   color: black;
}

.movielink {
   margin-bottom: 100px;
}
.link:focus {
   outline: 2px solid red;
}

.textmuvie {
   background-color: aqua;
   max-width: 500px;
   margin-bottom: 100px;
}

.textmuvie:target {
   border-radius: 20px;
}

.start {
   display: inline-block;
   height: 50px;
   width: 50px;
   background-color: blueviolet;
}
.stap1 {
   display: inline-block;
   height: 40px;
   width: 150px;
   background-color: blue;
   margin-left: -4px;
   opacity: 0;
}
.stap2 {
   display: inline-block;
   height: 150px;
   width: 30px;
   background-color: crimson;
   margin-left: -5px;
   opacity: 0;
}

.stap3 {
   display: inline-block;
   height: 25px;
   width: 250px;
   background-color: gold;
   margin-left: 217px;
   opacity: 0;
}
.stap4 {
   display: inline-block;
   height: 200px;
   width: 20px;
   background-color: lawngreen;
   margin-left: -4px;
   opacity: 0;
}
.stap5 {
   display: inline-block;
   height: 10px;
   width: 200px;
   background-color: hotpink;
   margin-left: 290px;
   margin-top: 0px;
   opacity: 0;
}
.finish {
   display: inline-block;
   height: 50px;
   width: 50px;
   background-color: green;
   margin-left: -254px;
   opacity: 0;
}

.game {
   width: 700px;
   min-height: 530px;
}

.game:hover .stap1 {
   opacity: 1;
}

.stap2:hover {
   opacity: 1;
}
.stap3:hover {
   opacity: 1;
}
.stap4:hover {
   opacity: 1;
}
.stap5:hover {
   opacity: 1;
}
.finish:hover {
   opacity: 1;
}

.start1 {
   display: inline-block;
   height: 50px;
   width: 50px;
   background-color: blueviolet;
}

.luna1 {
   display: inline-block;
   height: 40px;
   width: 150px;
   background-color: blue;
   margin-left: 50px;
   margin-top: 10px;
   opacity: 0;
}
.luna2 {
   display: inline-block;
   height: 150px;
   width: 30px;
   background-color: crimson;
   margin-left: 150px;
   opacity: 0;
}
.luna3 {
   display: inline-block;
   height: 25px;
   width: 250px;
   background-color: gold;
   margin-top: 150px;
   opacity: 0;
}
.luna4 {
   display: inline-block;
   height: 200px;
   width: 20px;
   background-color: lawngreen;
   margin-left: 250px;
   opacity: 0;
}
.luna5 {
   display: inline-block;
   height: 10px;
   width: 200px;
   background-color: hotpink;
   margin-top: 200px;
   margin-left: -180px;
   opacity: 0;
}
.finish2 {
   display: inline-block;
   height: 50px;
   width: 50px;
   background-color: green;
   opacity: 0;
}
.luna1:hover {
   opacity: 1;
}
.luna2:hover {
   opacity: 1;
}
.luna3:hover {
   opacity: 1;
}
.luna4:hover {
   opacity: 1;
}
.luna5:hover {
   opacity: 1;
}
.finish2:hover {
   opacity: 1;
}
.start1::before {
   content: "START";
}
.finish2::before {
   content: "FINISH";
}
